@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes identifier {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
    
}

#me{
    animation: identifier 0.3s ease-in-out;
}

.App{
    background-color: var(--white);
    width: 78%;
    margin: 0 auto;
    padding: var(--generalPadding) var(--generalPadding) 0;
    overflow-x: hidden;
  }
  @media only screen and (max-width: 800px) {
    .App {
      width: 95%;
      padding: 0.9em 0.9em 0;
    }
  }
